$darkBlue: #101624;
$lighterBlue: #243152;
$grey: #5D6272;
$orange: #D87A43;
$lightOrange: #dc8756;
$black: #0F0D0F;
$twitterBlue: #2FC2EF;
$linkedinBlue: #0A7AB6;
$mailColor: #F7CD5F;
$buttonColor: #1681E8;
$buttonHoverColor: #465fa0;

@font-face {
    font-family: 'Mono Social Icons Font';
    src: url('MonoSocialIconsFont-1.10.eot');
    src: url('MonoSocialIconsFont-1.10.eot?#iefix') format('embedded-opentype'),
         url('MonoSocialIconsFont-1.10.woff') format('woff'),
         url('MonoSocialIconsFont-1.10.ttf') format('truetype'),
         url('MonoSocialIconsFont-1.10.svg#MonoSocialIconsFont') format('svg');
    src: url('MonoSocialIconsFont-1.10.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.symbol, a.symbol:before {
    font-family: 'Mono Social Icons Font';
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    -ms-text-rendering: optimizeLegibility;
    -o-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

a.symbol:before {
    content: attr(title);
    margin-right: 0.3em;
    font-size: 130%;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
    font-size:28px;
    box-sizing:border-box;
    font-rendering:optimizeLegibility;
}

h1,h2,h3,h4,h5,h6 {
    margin:0;
}

html, body, ul {
    margin:0;
    padding:0;
}

a {
    color:inherit;
    text-decoration:none;
}

.container {
    margin:0 auto;
    width:100%;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
    }

header {
    box-sizing:border-box;
    background:linear-gradient(#2a2a2a,$black 90%);
    padding:.6em 2em .4em 2em;

    a {
        color:$orange;
        text-shadow:none;
        text-decoration: none;
        font-size:1.1em;
        background:rgba(0,0,0,0);
        padding:.2em .5em;
        border-radius:5px;
        box-shadow:none;
        transition:text-shadow .25s ease,background .25s ease,box-shadow .05s ease;

        &:hover {
            background:rgba(255,255,255,.1);
            text-shadow:0 0 8px $lightOrange;
        }

        &:active {
            /*background:rgba(255,255,255,.055);*/
            box-shadow:inset 0 -1px 5px $black;
        }
    }

    ul {
        float:right;

        &:after {
            content:'';
            display:table;
            visibility: hidden;
            clear:both;
        }
    }

    li {
        margin-left: .5em;
        display:inline;
    }
}

@-webkit-keyframes fade-in {
    0% {
        -webkit-transform: translateY(-100px);
        opacity:0;
        text-shadow:none;
    }
  
    15% {
       opacity:0; 
    }
  
    50% {
        -webkit-transform: translateY(0);
        opacity:1;
        text-shadow:none;
    }
  
    75% {
      text-shadow: 0 0 30px white;
    }
  
    100% {
      text-shadow:0 0 15px white;
    }
}

@keyframes fade-in {
    0% {
        -webkit-transform: translateY(-100px);
        opacity:0;
        text-shadow:none;
    }
  
    15% {
       opacity:0; 
    }
  
    50% {
        -webkit-transform: translateY(0);
        opacity:1;
        text-shadow:none;
    }
  
    75% {
      text-shadow: 0 0 30px white;
    }
  
    100% {
      text-shadow:0 0 15px white;
    }
}

@-o-keyframes fade-in {
    0% {
        -webkit-transform: translateY(-100px);
        opacity:0;
        text-shadow:none;
    }
  
    15% {
       opacity:0; 
    }
  
    50% {
        -webkit-transform: translateY(0);
        opacity:1;
        text-shadow:none;
    }
  
    75% {
      text-shadow: 0 0 30px white;
    }
  
    100% {
      text-shadow:0 0 15px white;
    }
}
@-moz-keyframes fade-in {
    0% {
        -webkit-transform: translateY(-100px);
        opacity:0;
        text-shadow:none;
    }

    15% {
        opacity: 0;
    }
  
    50% {
        -webkit-transform: translateY(0);
        opacity:1;
    }
  
    75% {
      text-shadow: 0 0 30px white;
    }
  
    100% {
      text-shadow:0 0 15px white;
    }
}

@-webkit-keyframes background-pan {
  from {
    transform:translatey(-25%);
  }
  to {
    transform:translatey(0);
  }
}

@-moz-keyframes background-pan {
  from {
    transform:translatey(-25%);
  }
  to {
    transform:translatey(0);
  }
}

@-o-keyframes background-pan {
  from {
    transform:translatey(-25%);
  }
  to {
    transform:translatey(0);
  }
}

@keyframes background-pan {
  from {
    transform:translatey(-25%);
  }
  to {
    transform:translatey(0);
  }
}

.text-animation {
    -webkit-animation: fade-in 2.5s ease;
    -moz-animation: fade-in 2.5s ease;
    -o-animation: fade-in 2.5s ease;
    animation: fade-in 2.5s ease;
}

.background-animation {
    -o-animation:background-pan 2.25s ease;
    -moz-animation:background-pan 2.25s ease;
    animation:background-pan 2.25s ease;
    -webkit-animation:background-pan 2.25s ease;
}

h1 {
  text-shadow:0 0 15px white; 
  font-size:3em;
  color:white;
  font-weight:100;
  text-align:center;
  font-family:sans-serif;
  padding-top:100px;
  opacity:1;
}
  
  html, body {
  margin:0;
  padding:0;
}

.background {
    height:150%;
    width:100%;
    background-image:url('../images/portfolio-header.jpg');
    background-size:cover;
}

.middle-align {
    max-width:920px;
    margin:0 auto;
}

.header {
  overflow:hidden;
  width:100%;
  height:500px;
}

.about {
    color:white;
    width:100%;
    background:$lighterBlue;
    text-align:center;
    padding:1em 0;

    p {
        font-size:.8em;
        line-height: 1.5em;
        font-weight: 200;
    }

    a {
        text-decoration:none;
        border-bottom:1px dotted white;

        &:hover {
            text-shadow:0 0 2px white;
        }
    }
}

h2 {
    padding-top:20px;
    font-size:1.7em;
    text-align:center;
}

/* ====================================================== */
/*                  Project Templates                     */
/* ====================================================== */

h3 {
    margin-bottom:10px;
    font-size:1.3em;
}

.project {
    height:250px;
    border-radius:2px;
    margin-bottom:50px;

}

.left {
    float:left;
    width:40%;
    height:100%;
}

.github-preview {
    background:url('../images/github-preview.png') no-repeat;
}

.backbone-preview {
    background:url('../images/backbone-menu.png') no-repeat;
}

.surf-preview {

}

.project-preview {
    height:75%;
    background-size:100% 100%;
    background-position:0 0 center;
    border:1px solid black;
    transition:all .4s ease;

    &:hover {
        transform:translateY(-3px);
        box-shadow:0 2px 8px #555;
    }
}

.project-links {
    text-align:center;
    height:20%;

    .button {
        font-size:.7em;
        font-weight:200;
        letter-spacing:.5px;
        margin:.6em 20px 0 20px;
        display:inline-block;
        color:white;
        border-radius:4px;
        padding:5px 9px;
        background:$lighterBlue;
        transition:all .03s ease;

        &:hover {
            background:$buttonHoverColor;
        }

        &:active {
            box-shadow:inset 0 1px 5px #000;
        }
    }
}

.right {
    float:right;
    width:58%;
    height:100%;

    p {
        font-size:.7em;
        margin:0;
    }

    ul  {
        list-style:circle;
        li {
            margin-left:20px;
            font-size:.7em;
            }
    }
}

h5 {
    margin-top:.5em;
}



/* ====================================================== */
/*                  Project Templates                     */
/* ====================================================== */

.contact {
    background:$orange;
    padding-bottom:2em;

    h2 {
        margin-bottom:40px;
    }
}

.contact ul {
    text-align:center;
    width:100%;
    color:black;
    font-size:2em;
    

    li {
        margin-bottom:20px;
        height:1.5em;
        width:1.5em;  
        border-radius:50%;
        display:inline-block;
        text-align:center;
        margin:0 .5em;
        background:#ddd;
    }

    a {
        color:black;
    }

    i {
        position:relative;
        top:.15em;
        display:inline-block;
    }
}

.twitter:hover {
    background:$twitterBlue;
    color:white;
    box-shadow:0 0 8px $twitterBlue;
}

.github:hover {
    background:#fff;
    box-shadow:0 0 8px #fff;
}

.linkedin:hover {
    background:$linkedinBlue;
    color:white;
    box-shadow:0 0 8px $linkedinBlue;
}

.email:hover {
    background:$mailColor;
    color:white;
    box-shadow:0 0 8px $mailColor;
}

/*   Media Queries   */

@media (max-width:1000px) {
    body {
        font-size:22px;
    }

    .header {
        height:300px;
    }

    header {
        padding:.4em 1em .3em 1em;
        text-align:center;
        font-size:1.2em;

        ul {
            float:none;
        }
    }

    h1 {
        padding-top:1em;
        font-size:2.6em;
    }
}

@media (max-width:600px) {
    header {
        display:none;
    }

    h1 {
        padding-top:1.2em;
        font-size:2.2em;
    }

    .about p{
        padding:0 1em;
    }
}