body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

html, body {
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  background: #013175;
  width: 100%;
  height: 500px;
}

@-webkit-keyframes fade-in {
  0% {
    -webkit-transform: translateY(-100px);
    opacity: 0;
    text-shadow: none;
  }
  15% {
    opacity: 0;
    text-shadow: none;
  }
  50% {
    -webkit-transform: translateY(0);
    opacity: 1;
    text-shadow: none;
  }
  75% {
    text-shadow: 0 0 50px white;
  }
  100% {
    text-shadow: 0 0 20px white;
  }
}
@keyframes fade-in {
  0% {
    -webkit-transform: translateY(-100px);
    opacity: 0;
    text-shadow: none;
  }
  15% {
    opacity: 0;
    text-shadow: none;
  }
  50% {
    -webkit-transform: translateY(0);
    opacity: 1;
    text-shadow: none;
  }
  75% {
    text-shadow: 0 0 50px white;
  }
  100% {
    text-shadow: 0 0 20px white;
  }
}
h1 {
  -webkit-animation: fade-in 3.5s ease;
  animation: fade-in 3.5s ease;
  margin: 0;
  text-shadow: 0 0 20px white;
  font-size: 84px;
  color: white;
  font-weight: 100;
  text-align: center;
  font-family: sans-serif;
  padding-top: 100px;
  opacity: 1;
  transition: all 1s ease;
}

@-webkit-keyframes background-pan {
  from {
    -webkit-transform: translatey(-25%);
    transform: translatey(-25%);
  }
  to {
    -webkit-transform: translatey(0);
    transform: translatey(0);
  }
}
@keyframes background-pan {
  from {
    -webkit-transform: translatey(-25%);
    transform: translatey(-25%);
  }
  to {
    -webkit-transform: translatey(0);
    transform: translatey(0);
  }
}
html, body {
  margin: 0;
  padding: 0;
}

.background {
  height: 150%;
  width: 100%;
  animation: background-pan 3s ease;
  -webkit-animation: background-pan 3s ease;
  background-image: url("http://images3.alphacoders.com/424/42485.jpg");
  background-size: cover;
}

.header {
  overflow: hidden;
  width: 100%;
  height: 550px;
}
